.stories {
  box-sizing: border-box;
}
.stories *, .stories *:before, .stories *:after {
  box-sizing: inherit;
}

/**
    Overall structure of the slideshow
**/

.stories {
  > .slides {
    position: absolute;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-font-smoothing: antialiased;

    overflow: hidden;
    > section {
      display: none; // Prevent FOUC
    }
  }

  &.debug:before {
    height: 0px;
    width: 100%;
    position:absolute;
    border-bottom:1px solid red;
    top: 50%;
    content: '';
    display: block;
    z-index: 1000;
  }
  &.debug > .slides {
    outline: 2px solid red;
    overflow: visible;
  }

}

.stories--viewport-fixed {
  > .slides > section {

  }
}

.stories--transition-fade {
  > .slides > section {
    // Enabling graphics acceleration causes iOs to crash every time
    // Disabling graphics acceleration causes Desktop Safari to be unusably slow
    // Disabling slide fade opacity solves all our problems for now

    // // Enable graphics acceleration on Safari (due to opacity transition)
    // -webkit-transform: translateZ(0);
    //         transform: translateZ(0);
    // -webkit-backface-visibility: hidden;
    //         backface-visibility: hidden;
    // -webkit-perspective: 1000;
    //         perspective: 1000;

    // // Slide content transition
    // transition: opacity 0.3s ease-in-out;


    // Stack all slides on top of each other
    position: absolute;
    opacity: 0;
    display: block;
    pointer-events: none; // Prevent actions on hidden slides
    &.visible {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.stories--slide-full > .slides > section{
  // Stretch the slides
  width: 100%;
  height: 100%;
}

.stories--slide-cards > .slides > section{
  // Stretch the slides
  width: 360px;
  height: 640px;
  outline: 2px solid green;

  display: block;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;

  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  margin: 0;
}

.stories .ui-layer.display-background-slide {
  // Stretch to whole viewport
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.stories .ui-layer.control-progressBar-thin {
  position: absolute;
  bottom: 0;
}

.stories .ui-layer.control-progressBar-thin {
  height: 4px;
  width: 0%;
  background: black;
  transition: width 0.3s ease-out;
}

.stories .ui-layer.control-navButtons {
  .nav-prev, .nav-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40%;
    height: 100%;

    line-height: 0;

    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;

    &:before {
      content: '';
      width: 50px;
      height: 50px;

      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);

      position: absolute;
      border-radius: 50%;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .nav-prev {
    left: 0;
    &:before {
      left: 25px;
      background: rgba(0,0,0,0.10) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cG9seWdvbiBwb2ludHM9IjM1MiwxMjguNCAzMTkuNyw5NiAxNjAsMjU2IDE2MCwyNTYgMTYwLDI1NiAzMTkuNyw0MTYgMzUyLDM4My42IDIyNC43LDI1NiAiLz48L3N2Zz4=) no-repeat;
      background-position: 3px center;
      background-size: 80%;
    }
  }
  .nav-next {
    right: 0;
    &:before {
      right: 25px;
      background: rgba(0,0,0,0.10) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cG9seWdvbiBwb2ludHM9IjE2MCwxMjguNCAxOTIuMyw5NiAzNTIsMjU2IDM1MiwyNTYgMzUyLDI1NiAxOTIuMyw0MTYgMTYwLDM4My42IDI4Ny4zLDI1NiAiLz48L3N2Zz4=) no-repeat left;
      background-position: 6px center;
      background-size: 80%;
    }
  }

  &.first-slide .nav-prev {
    opacity: 0;
    &:hover {
      cursor: default;
    }
  }

  &.last-slide .nav-next  {
    opacity: 0;
    &:hover {
      cursor: default;
    }
  }
}
