.stories {
  box-sizing: border-box; }

.stories *, .stories *:before, .stories *:after {
  box-sizing: inherit; }

/**
    Overall structure of the slideshow
**/
.stories {
  width: 100%; }
  .stories .display-background-slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 50; }
  .stories > .slides {
    position: absolute;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-font-smoothing: antialiased;
    z-index: 100;
    overflow: hidden; }
    .stories > .slides > section {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none; }
      .stories > .slides > section.visible {
        opacity: 1;
        pointer-events: auto; }
  .stories.debug:before {
    height: 0px;
    width: 100%;
    position: absolute;
    border-bottom: 1px solid red;
    top: 50%;
    content: '';
    display: block;
    z-index: 1000; }
  .stories.debug > .slides {
    outline: 1px solid red;
    overflow: visible; }
  .stories .control-progressBar-thin {
    z-index: 200;
    position: absolute;
    bottom: 0; }
